.main{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        background-color: white;
        margin: 10px 30px;
        text-align: center;
        width: 250px;
        .cardimg{
            img{
                width: 250px;;
            }
        }
    }
    .btns{
        button{
            background-color: wheat;
            &:hover{
                border: 1px black solid;
                }
        }
        
    }
  }
    
}