@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
.hero{
    height: 100vh;
    background-image: url(../background.jpg);
    background-position:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    gap: 20px;
    h1{
        font-family: "Lobster", sans-serif;
    }
    button{
        transition: 0.4s;
        border: 1px solid white;
        padding: 10px 40px;
        background-color: transparent;
        border-radius: 0;

        &:hover{
            color: black;
           border: 1px solid white;
            background-color: white;
        }
    }
}