.herodetails{
    height: 100vh;
    background-image: url(../productback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment:fixed;
    p{
        color: black;
        font-weight: bolder;
        background-color: #c0c0c055;
        padding: 10px;
        border-radius: 10px;
        a{
            color: black;
        }
    }
}